

.image-section img{
    width: 100%;
}
.navbar1 {
    align-items: center;
    display: flex;
}
.navbar2 {
    margin-top: 23px;
}
.navbar2 a {
    font-size: 19px;
    margin-left: 19px;
    color: #a57878;
}

.store-system {
    align-items: center;
    display: flex;
}
.image-system img{
    width: 100%;
}
.lifestyle-system img {
    width: 100%;
    border: 1px solid #e1dddd;
}
.sticker-photo {
    background-image: url(https://cdn.stores.ecom.yougotagift.com/media/images/configurations/banner/2023/03/31/45861dfc-346e-4afe-bb35-ff58630df5fa.png);
    max-width: 100%;
    background-size: cover;
    height: 532px;
}
.text-left {
    margin-top: 22px;
    padding-left: 898px;
    display: table;
    width: 85%;
}
.text-left h3 {
    margin-top: 174px;
}
.payouts-gift img {
    width: 100%;
}
.box-card {
    width: 100%;
    background-color: #e9e5e5;
    padding: 90px;
    margin-top: 40px;
}
.container-fluid.payouts {
    margin-top: 60px;
}
.categories img {
    width: 100%;
}
.scan-link {
    align-items: center;
    display: flex;
    margin-top: 34px;
}
.play-store img {
    display: flex;
    width: 50%;
    margin-top: 21px;
}
.link-img img {
    width: 65%;
}
.container-fluid-app {
    background-color: #ebeaea;
    border-radius: 20px;
    margin-top: 10px;
}
.features {
    margin-top: 117px;
}
.rating {
    display: flex;
}

.image-rating img {
    width: 35%;
}
.image-rating1 img {
    width: 100%;
}
.section {
    margin: 17px;
    padding: 17px;
}
input {
    border-radius: 22px;
    font-size: 21px;
    border: none;
    margin-bottom: 18px;
    margin-top: 24px;
    width: 100%;
    padding: 8px;
    background-color: #e5e2e2;
}
select.link-select {
    border: none;
    background-color: white;
    margin-left: 17px;
    font-size: 19px;
    color: black;
    font-weight: 500;
}
.navbar1 a {
    margin-left: 17px;
    font-size: 19px;
    color: black;
    font-weight: 500;
}

.navbar1 h2 {
    color: purple;
}
.store-system h1 {
    font-family: sans-serif;
    color: #600360;
}
.store-system {
    margin-top: 36px;
    margin-bottom: 26px;
}
.store-system h3 {
    padding: 8px 22px;
    font-size: 16px;
    margin-left: 19px;
    background-color: #e7e4e4;
    border-radius: 12px;
    color: #f93535;
}
.store-system  h4 {
    margin-top: 21px;
    text-align: center;
    padding: 8px 22px;
    font-size: 15px;
    margin-left: 19px;
    background-color: #e7e4e4;
    border-radius: 12px;
    color: green;
}
.image-system h2 {
    font-size: 20px;
}
.payout h1 {
    color: #020250;
    margin-top: 24px;
    font-size: 33px;
    font-family: sans-serif;
    margin-bottom: 21px;
}
.lifestyle-system h2 {
    font-size: 20px;
    font-family: sans-serif;
}
.in-store {
    align-items: center;
    display: flex;
}
.text-center h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-family: sans-serif;
    color: #040446e6;
    font-size: 33px;
    margin-top: 31px;
}
.box1 {
    background: white;
    margin-top: 19px;
    padding: 13px;
   
    border: 1px solid #d9d5d5;
    width: 90%;
    border-radius: 12px;
    height: 328px;
}
.container-fluid-brands {
    background-color: #f5f4f4;
}
.box1 img {
    width: 12%;
}
.image1 img {
    width: 100%;
    position: initial;
    height: 328px;
}
.box2{
    margin-top: 19px;
    padding: 13px;
    width: 90%;
    
}
.image2 img {
    left: 230px;
    position: absolute;
    bottom: 150px;
}
.notification{
    background-image: url(https://cdn.ecomv2.yougotagift.com/images/news-subscription-background.png);
}
.notification {
    background-image: url(https://cdn.ecomv2.yougotagift.com/images/news-subscription-background.png);
    background-size: cover;
    height: 219px;
    margin: 31px;
}
.text-brand {
    display: table;
    margin: auto;
}
.text-brand h2 {
    color: #680d68;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 31px;
}
.submit-data {
    border-radius: 12px;
    padding: 0px 23px;
    border: 1px solid #cbc7c7;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.submit-data h3 {
    color: #7e7c7c;
    font-size: 18px;
}
.submit-data h4 {
    border-radius: 11px;
    padding: 12px 31px;
    background-color: #cbc7c7;
}
.footer-img img {
    margin-left: 6px;
    width: 12%;
}
.footer-image1 img {
    margin-top: 26px;
    width: 21%;
}
.container-fluid-newbrands {
    background-color: #d7d7d7;
}
.home-text img {
    margin-top: 11px;
    width: 30%;
    display: flex;
}







@media (max-width:600px){
    
    .store-system h3 {
        margin-left: 0px;
    }
    .image-section img {
        width: 100%;
        margin-top: 19px;
    }
    .text-left {
        margin-top: 22px;
        padding-left: 0px;
        width: 100%;
    }
    .features {
        margin-top: 10px;
    }
    .store-system {
        display: initial;
    }
    .box-card {
        padding: 12px;
       
    }
    .sticker-photo {
       
        height: 100%;
    }
    .navbar1 {
        display: initial;
    }
    .image1 img {
        width: 100%;
        position: initial;
     
    
    }
    .box1 {
        width: 100%;
       
    }
    .image2 img {
        left: 120px;
        position: absolute;
        bottom: 150px;
    }
    .notification {
        background-image: url(https://cdn.ecomv2.yougotagift.com/images/news-subscription-background.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    

}